<div class="container float-left padding-reset ">
  <div class="col-12 padding-reset">
    <h1 class="tituloContainer">Pisicólogos</h1>
    <div class="col-9 listagem-itens-table">
      <div class="col-12 padding-reset head-table-default">
        <h1 class="sub-title">Listagem de Psicólogos</h1>
        <div
          class="col-5 float-right text-right padding-reset inputs-defaults-card"
        >
          <input
            placeholder="Buscar por nome, email ou CRP"
            type="text"
            [(ngModel)]="termSearch"
          />
          <select>
            <option>
              Todos os planos
            </option>
          </select>
        </div>
      </div>
      <table class="table table-list-default">
        <thead>
          <tr>
            <th>Registro</th>
            <th>nome</th>
            <th>email</th>
            <th>cpf</th>
            <th>crp</th>
            <th>categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let psi of psicologosList | filter: termSearch"
            (click)="selectedPsicologo(psi.id)"
          >
            <td>{{ psi.createdDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ psi.firstName }}</td>
            <td>{{ psi.email }}</td>
            <td>{{ psi.cpf }}</td>
            <td>{{ psi.crp }}</td>
            <td>{{ psi.categoriaProfissional }}</td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <div class="row">
          <div class="col-sm actions-default padding-reset">
            <button (click)="novoPsicologo()">
              Adicionar novo usuários
            </button>
          </div>
          <div class="col-sm padding-reset pagination-default"></div>
          <div class="col-sm padding-reset text-right hidden">
            <nav
              style="float: right !important;"
              aria-label="Page navigation example pull-right"
            >
              <ul class="pagination pull-right">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&#60;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&#62;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
