.report-default h1 {
  color: #00a7c2;
  font-size: 18px;
  letter-spacing: 0;
  padding: 8px;
}
small.indicator-link {
  font-size: 18px !important;
  float: right !important;
  margin-top: -1.7em !important;
  margin-right: 2em !important;
  color: #4d4f5c !important;
}

.report-default small {
  float: left;
  position: relative;
  margin: -8px 8px 0px;
  color: #4d4f5c !important;
  font-size: 13px;
}

.card-report {
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 1em;
  margin-right: 3em;
  margin-top: 2em;
  cursor: pointer;
}

.container-report {
  margin-top: -2em;
}

.report-default img {
  margin-top: 9px;
  margin-left: 10px;
}
