<div class="container-fluid padding-reset">
  <div class="col-12 padding-reset">
    <h1 class="tituloContainer">Relatórios</h1>
    <div class="container-fluid padding-reset container-report">
      <div class="container float-left report-default">
        <div class="row">
          <div class="col-sm-4 padding-reset card-report">
            <div class="row">
              <div class="col-sm-2">
                <img
                  title="Psicólogos"
                  alt="Psicólogos"
                  src="../../../assets/img/psi-logo.png"
                />
              </div>
              <div class="col-sm-10 padding-reset-left">
                <h1>Psicólogos</h1>
                <small>Visualizar agora</small>
                <small class="indicator-link">&#62;</small>
              </div>
            </div>
          </div>
          <div class="col-sm-4 padding-reset card-report">
            <div class="row">
              <div class="col-sm-2">
                <img
                  title="Pacientes"
                  alt="Pacientes"
                  src="../../../assets/img/user-ico.png"
                />
              </div>
              <div class="col-sm-10 padding-reset-left">
                <h1>Pacientes</h1>
                <small>Visualizar agora</small>
                <small class="indicator-link">&#62;</small>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 padding-reset card-report">
            <div class="row">
              <div class="col-sm-2">
                <img
                  title="Financeiro"
                  alt="Financeiro"
                  src="../../../assets/img/financeiro-ico.png"
                />
              </div>
              <div class="col-sm-10 padding-reset-left">
                <h1>Financeiro</h1>
                <small>Visualizar agora</small>
                <small class="indicator-link">&#62;</small>
              </div>
            </div>
          </div>
          <div class="col-sm-4 padding-reset card-report">
            <div class="row">
              <div class="col-sm-2">
                <img
                  title="Atendimentos"
                  alt="Atendimentos"
                  src="../../../assets/img/calendar-ico.png"
                />
              </div>
              <div class="col-sm-10 padding-reset-left">
                <h1>Atendimentos</h1>
                <small>Visualizar agora</small>
                <small class="indicator-link">&#62;</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
