.container {
  width: 800px;
  margin: 0 auto;
}
ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  margin-right: 6px !important;
  font-size: 15px;
  background: #f5f6fa 0% 0% no-repeat padding-box;
  color: #43425d;
  display: inline-block;
  border: 1px solid #e9e9f0;
  border-bottom: none !important;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  background: #ffffff;
  color: #00a7c2;
  border: 1px solid #e9e9f0;
  border-radius: 4px;
  font-size: 15px;
}

.tab-content {
  border-top: 1px solid #e9e9f0;
  display: none;
  background: #ffffff;
  padding: 15px;
}

form input,
select {
  font-size: 13px;
  color: #a4afb7;
  border: 1px solid #a4afb7;
  border-radius: 4px;
  height: 34px;
}
form select {
  width: 100%;
  height: 34px;
}
.margin-top-form {
  margin-top: 1em;
}
form label {
  color: #4d4f5c;
  font-size: 12px;
}

form textarea {
  height: 114px;
}

.tab-content.current {
  display: inherit;
}
.listagem-itens-table {
  overflow: auto;
  float: left;
  height: auto;
}

.text-title-form {
  font-size: 15px;
  color: #15195b;
  font-weight: bold;
}

.actions-psicologos {
  margin-top: 2em;
  margin-bottom: 3em;
}

.list-group-item {
  color: #a4afb7;
  font-size: 13px;
  border-left: none;
  border-right: none;
}

input[type='checkbox'] {
  all: unset;
  cursor: pointer;
  width: 17px;
  height: 17px;
  position: absolute;
  margin-top: 0rem;
  margin-left: -1.5rem;
  padding: 0px;
  float: left;
  display: block;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

input[type='checkbox']:checked {
  background-color: #3cc0ce;
  width: 17px;
  height: 17px;
}
