<div class="fade in modal" [ngClass]="{ 'modal-open': modalOpen }">
  <div class="modal-dialog">
    Modal content and things
    <button class="btn btn-primary" (click)="closeModal()">Close</button>
  </div>
</div>
