<div class="container-fluid padding-reset">
  <div class="col-12 padding-reset">
    <h1 class="tituloContainer">Home</h1>
    <h1 class="tituloContainer">Bem vindo ao e-terapia! :)</h1>
  </div>
</div>
