<div class="container float-left padding-reset ">
  <div class="col-12 padding-reset">
    <h1 class="tituloContainer">Pacientes</h1>
    <div class="col-9 listagem-itens-table">
      <div class="col-12 padding-reset head-table-default">
        <h1 class="sub-title">Pacientes Cadastrados</h1>
        <div
          class="col-5 float-right text-right padding-reset inputs-defaults-card"
        >
          <input
            [(ngModel)]="termSearch"
            placeholder="Buscar por nome ou email"
            type="text"
          />
          <select>
            <option>
              Registros ocultos
            </option>
          </select>
        </div>
      </div>
      <table class="table table-list-default">
        <thead>
          <tr>
            <th>REGISTRO</th>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>CPF</th>
            <th>PLANO</th>
          </tr>
        </thead>
        <tbody>
          <tr
            [routerLink]="['/logada/exibir-paciente']"
            *ngFor="let p of pacientesList | filter: termSearch"
            (click)="selectedPaciente(p.id)"
          >
            <td>{{ p.createdDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ p.firstName }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.cpf }}</td>
            <td>{{ p.plano }}</td>
          </tr>
        </tbody>
      </table>
      <div class="container">
        <div class="row">
          <div class="col-sm actions-default padding-reset">
            <!-- <button>Adicionar novo usuários</button> -->
          </div>
          <div class="col-sm padding-reset pagination-default"></div>
          <div class="col-sm padding-reset text-right">
            <nav
              style="float: right !important;"
              aria-label="Page navigation example pull-right"
            >
              <ul class="pagination pull-right">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&#60;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&#62;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
