<router-outlet></router-outlet>
<ngx-spinner
  bdOpacity="0.9"
  bdColor="#3cc0ce "
  size="medium"
  color="#fff"
  type="ball-newton-cradle"
  [fullScreen]="true"
>
  <p style="color: white">Carregando...</p>
</ngx-spinner>
