<div class="container-fluid padding-reset">
  <div class="col-12 padding-reset">
    <h1 class="tituloContainer">Logout</h1>
    <h1 class="tituloContainer">Logout realizado com sucesso!</h1>
  </div>
</div>
