<div class="container-fluid">
  <div class="row">
    <div class="col form-login">
      <form
        class="mx-auto col-lg-8 col-xl-8 col-sm-8 col-xs-8 col-sm-8"
        id="form-login"
      >
        <div class="form-group">
          <div class="text-center container-fluid">
            <img
              class="img-fluid img-logo-login animated bounceInLeft"
              src="../../../assets/img/logo-login.png"
            />
          </div>
          <div class="text-center container-fluid padding-reset">
            <small
              >Bem vindo de volta ! Por favor, faça o login na sua conta.
            </small>
          </div>
          <div class="col-12 padding-reset inputs-forms">
            <div style="float: left;" class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input
                (input)="login.username = $event.target.value"
                autocomplete="on"
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="username"
              />
            </div>
            <div style="float: left;" class="form-group">
              <label for="exampleInputPassword1">Senha</label>
              <input
                (input)="login.password = $event.target.value"
                autocomplete="on"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Senha"
                (keyup.enter)="loginUser()"
              />
            </div>
            <div style="float: left;" class="form-group form-check col-12">
              <div class="row">
                <div class="col-sm">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1"
                    >Lembrar senha</label
                  >
                </div>
                <div class="col-sm">
                  <a href="#">Esqueci minha senha</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center act-login">
          <button (click)="loginUser()" class="actions-default-login">
            Entrar
          </button>
          <div
            *ngIf="error"
            class="alert alert-danger"
            role="alert"
            style="margin-top: 1em;"
          >
            Login ou senha incorretos.
          </div>
        </div>
      </form>
    </div>
    <div class="col bg-login"></div>
  </div>
</div>
