.bg-login {
  background-image: url('../../../assets/img/login-wallpaper.png');
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.form-login {
  background-color: #f8f8f8;
  background-image: url('../../../assets/img/bg-login.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#form-login label {
  color: #4d4d4d;
  font-size: 13px;
  text-align: left;
}

#form-login input[type='text'],
input[type='password'] {
  padding: 9px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  width: 382px;
  height: 32px;
  color: #000100;
  font-size: 12px;
  border-radius: 4px;
}

#form-login input[type='checkbox'] {
  all: unset;
  cursor: pointer;
  width: 17px;
  height: 17px;
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
  padding: 0px;
  float: left;
  display: block;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}
#form-login input[type='checkbox']:checked {
  background-color: #3cc0ce;
  width: 17px;
  height: 17px;
}

#form-login {
  top: 15em;
}
#form-login small {
  font-size: 14px;
  color: #15195b;
  margin-top: 4em !important;
  margin-bottom: 3em;
  float: left;
}

#form-login a {
  color: #4d4d4d;
  font-size: 13px;
}

.img-logo-login {
  width: 100%;
}

.inputs-forms {
  margin-left: 1em;
}

.inputs-forms .form-group {
  margin-bottom: 1.7em;
}

.actions-default-login {
  text-align: center;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  background: #3cc0ce 0% 0% no-repeat padding-box;
  box-shadow: 0px 12px 30px #3795f43b;
  border-radius: 30px;
  opacity: 1;
  border: none;
  width: 282px;
  height: 52px;
  font-size: 14px;
  text-align: center;
}

.act-login {
  float: left;
  margin-top: 1.5em;
}
