<div class="container float-left padding-reset ">
  <div class="col-12 padding-reset">
    <h1 class="tituloContainer">Pisicólogos</h1>
    <div class="col-12 listagem-itens-table">
      <div class="col-12 padding-reset head-table-default">
        <h1 class="sub-title">Adicionar novo psicólogo</h1>
      </div>
      <div class="col-12 padding-reset">
        <ul class="tabs flo">
          <li class="tab-link current" data-tab="tab-1">Dados</li>
          <li class="tab-link" data-tab="tab-2">Especialidades</li>
          <li class="tab-link" data-tab="tab-3">Agenda</li>
        </ul>
        <div id="tab-1" class="tab-content current col-12 padding-reset">
          <div class="d-flex justify-content-start">
            <img
              style="width: 20%;"
              class="img-fluid"
              src="./../../../../assets/img/sem-imagem-avatar.png"
            />
          </div>
          <div class="d-flex justify-content-start margin-top-form">
            <h1 class="text-title-form">Dados pessoais:</h1>
          </div>
          <form class="float-left col-md-6 padding-reset">
            <div class="col-12 padding-reset">
              <div class="col-12 padding-reset margin-top-form">
                <label for="exampleFormControlInput1">Login</label>
                <input
                  (input)="psicologo.login = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
              <div class="col-12 padding-reset margin-top-form">
                <label for="exampleFormControlInput1">Nome completo</label>
                <input
                  (input)="
                    psicologo.firstName = $event.target.value;
                    psicologo.lastName = $event.target.value
                  "
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.firstName || ''"
                />
              </div>
              <div
                class="form-group margin-top-form col-md-6 float-left padding-reset-left"
              >
                <label for="exampleFormControlInput1">Gênero</label>
                <select
                  (change)="psicologo.genero = $event.target.value"
                  class="form-control"
                >
                  <option value="MASCULINO">MASCULINO</option>
                  <option value="FEMININO">FEMININO</option>
                </select>
              </div>
              <div
                class="form-group margin-top-form col-md-6 float-right paddin-reset-right padding-reset-left"
              >
                <label for="exampleFormControlInput1">CRP</label>
                <input
                  (input)="psicologo.crp = $event.target.value"
                  [value]="psicologo.crp || ''"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
              <div class="col-12 padding-reset margin-top-form">
                <label for="exampleFormControlInput1">Email</label>
                <input
                  (input)="psicologo.email = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.email || ''"
                />
              </div>
              <div class="col-12 padding-reset margin-top-form">
                <label for="exampleFormControlInput1"
                  >Categoria do Profissional</label
                >
                <select>
                  <option>
                    Gold
                  </option>
                </select>
              </div>
              <div class="col-12 padding-reset margin-top-form">
                <label for="exampleFormControlInput1">CEP</label>
                <input
                  (input)="psicologo.cep = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.cep || ''"
                />
              </div>
              <div class="col-12 padding-reset margin-top-form">
                <label for="exampleFormControlInput1">Rua</label>
                <input
                  (input)="psicologo.rua = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.rua || ''"
                />
              </div>
              <div class="col-12 padding-reset margin-top-form">
                <label for="exampleFormControlInput1">Complemento</label>
                <input
                  (input)="psicologo.complemento = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.complemento || ''"
                />
              </div>
            </div>
          </form>
          <!--Segunda div form -->
          <form class="float-left col-md-6 paddin-reset-right">
            <div class="col-12 padding-reset">
              <div
                class="form-group margin-top-form col-md-6 float-left padding-reset-left paddin-reset-right"
              >
                <label for="exampleFormControlInput1">CPF</label>
                <input
                  (input)="psicologo.cpf = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.cpf || ''"
                />
              </div>
              <div
                class="form-group margin-top-form col-md-6 float-right paddin-reset-right"
              >
                <label for="exampleFormControlInput1">Data de nascimento</label>
                <input
                  type="date"
                  (input)="psicologo.dataNascimento = $event.target.value"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
              <div
                class="form-group col-md-6 float-left paddin-reset-right padding-reset-left"
              >
                <label for="exampleFormControlInput1">Telefone</label>
                <input
                  (input)="psicologo.telefone = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.telefone || ''"
                />
              </div>
              <div class="form-group col-md-6 float-left paddin-reset-right">
                <label for="exampleFormControlInput1">Celular</label>
                <input
                  (input)="psicologo.celular = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.celular || ''"
                />
              </div>
              <div class="col-12 padding-reset float-left">
                <label for="exampleFormControlInput1">Senha</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                />
              </div>
              <div class="col-12 padding-reset float-left margin-top-form">
                <label for="exampleFormControlInput1"
                  >Formação e Experiência</label
                >
                <textarea
                  (input)="psicologo.formacaoExperiencia = $event.target.value"
                  [value]="psicologo.formacaoExperiencia || ''"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                ></textarea>
              </div>
              <div
                class="form-group col-md-6 float-left paddin-reset-right padding-reset-left margin-top-form"
              >
                <label for="exampleFormControlInput1">Número</label>
                <input
                  (input)="psicologo.numero = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.numero || ''"
                />
              </div>
              <div
                class="form-group col-md-6 float-left paddin-reset-right margin-top-form"
              >
                <label for="exampleFormControlInput1">Bairro</label>
                <input
                  (input)="psicologo.bairro = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.bairro || ''"
                />
              </div>
              <div
                class="form-group col-md-6 float-left paddin-reset-right padding-reset-left"
              >
                <label for="exampleFormControlInput1">Cidade</label>
                <input
                  (input)="psicologo.cidade = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.cidade || ''"
                />
              </div>
              <div class="form-group col-md-6 float-left paddin-reset-right">
                <label for="exampleFormControlInput1">UF</label>
                <input
                  (input)="psicologo.uf = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="psicologo.uf || ''"
                />
              </div>
            </div>
          </form>
        </div>
        <div id="tab-2" class="tab-content col-12 padding-reset">
          <div class="d-flex justify-content-start margin-top-form">
            <ul
              class="list-group float-left list-group float-right col-6 paddin-reset-right"
            >
              <li style="border-top: none;" class="list-group-item">
                <input type="checkbox" />
                Depressão
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Ansiedade e Stress
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Relacionamentos
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Vida familiar
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Sexualidade
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Vida profissional
              </li>
            </ul>
            <ul
              class="list-group float-right list-group float-right col-6 paddin-reset-right"
            >
              <li style="border-top: none;" class="list-group-item">
                <input type="checkbox" />Medos e Fobias
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Transtorno Alimentar
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Autoestima e Insegurança
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Luto e Perdas
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Dependências
              </li>
              <li class="list-group-item"><input type="checkbox" />Outros</li>
            </ul>
          </div>
        </div>
        <div id="tab-3" class="tab-content col-12 padding-reset">
          <div class="d-flex justify-content-start margin-top-form">
            <ul
              class="list-group float-left list-group float-right col-12 paddin-reset-right"
            >
              <li style="border-top: none;" class="list-group-item">
                <input type="checkbox" />
                Domingo
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Segunda-Feira
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Terça-Feira
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Quarta-Feira
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Quinta-Feira
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Sexta-Feira
              </li>
              <li class="list-group-item"><input type="checkbox" />Sábado</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- container -->
    </div>
  </div>
  <div class="row float-left actions-psicologos">
    <div class="container ">
      <div class="col-sm actions-default padding-reset">
        <button
          (click)="criarPsi()"
          style="background: #00A7C2!important; width: 116px;"
        >
          Salvar
        </button>
        <button
          style="background: #A2A3A4!important; margin-left: 1em; width: 116px;"
          [routerLink]="['/logada/psicologos']"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
