<div class="container float-left padding-reset ">
  <div class="col-12 padding-reset">
    <h1 class="tituloContainer">Pacientes</h1>
    <div class="col-12 listagem-itens-table">
      <div class="col-12 padding-reset head-table-default">
        <h1 class="sub-title">Perfil</h1>
      </div>
      <div class="col-12 padding-reset">
        <ul class="tabs flo">
          <li class="tab-link current" data-tab="tab-1">Dados</li>
          <li class="tab-link" data-tab="tab-2">Pagamentos</li>
          <li class="tab-link" data-tab="tab-3">Atendimentos</li>
        </ul>
        <div id="tab-1" class="tab-content current col-12 padding-reset">
          <div class="d-flex justify-content-start">
            <img
              style="width: 20%;"
              class="img-fluid"
              src="./../../../../assets/img/sem-imagem-avatar.png"
            />
          </div>
          <div class="d-flex justify-content-start margin-top-form">
            <h1 class="text-title-form">Dados pessoais:</h1>
          </div>
          <form class="float-left col-md-9 padding-reset">
            <div class="col-12 padding-reset">
              <div
                class="form-group margin-top-form col-md-6 float-left padding-reset-left"
              >
                <label for="exampleFormControlInput1">Nome completo</label>
                <input
                  (input)="paciente.firstName = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="paciente.firstName"
                />
              </div>
              <div
                class="form-group margin-top-form col-md-6 float-right paddin-reset-right padding-reset-left"
              >
                <label for="exampleFormControlInput1">CPF</label>
                <input
                  (input)="paciente.cpf = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="paciente.cpf"
                />
              </div>
              <div
                class="form-group margin-top-form col-md-6 float-left padding-reset-left"
              >
                <label for="exampleFormControlInput1">Email</label>
                <input
                  (input)="paciente.email = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="paciente.email"
                />
              </div>
              <div
                class="form-group margin-top-form col-md-6 float-right paddin-reset-right padding-reset-left"
              >
                <label for="exampleFormControlInput1">Celular</label>
                <input
                  (input)="paciente.celular = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="paciente.celular"
                />
              </div>
              <div
                class="form-group margin-top-form col-md-4 float-right paddin-reset-right padding-reset-left"
              >
                <label for="exampleFormControlInput1">Gênero</label>
                <select
                  (change)="paciente.genero = $event.target.value"
                  class="form-control"
                >
                  <option [selected]="paciente.genero === 'FEMININO'"
                    >FEMININO</option
                  >
                  <option [selected]="paciente.genero === 'MASCULINO'"
                    >MASCULINO</option
                  >
                </select>
              </div>
              <div
                class="form-group margin-top-form col-md-4 float-right padding-reset-left"
              >
                <label for="exampleFormControlInput1">Data de nascimento</label>
                <input
                  (input)="paciente.dataNascimento = $event.target.value"
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="paciente.dataNascimento"
                />
              </div>

              <div
                class="form-group margin-top-form col-md-4  float-right padding-reset-left"
              >
                <label for="exampleFormControlInput1">Plano</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  [value]="paciente.plano"
                />
              </div>
            </div>
          </form>
        </div>
        <div id="tab-2" class="tab-content col-12 padding-reset">
          <!--  <div class="d-flex justify-content-start margin-top-form">
            <ul
              class="list-group float-left list-group float-right col-6 paddin-reset-right"
            >
              <li style="border-top: none;" class="list-group-item">
                <input type="checkbox" />
                Depressão
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Ansiedade e Stress
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Relacionamentos
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Vida familiar
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Sexualidade
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Vida profissional
              </li>
            </ul>
            <ul
              class="list-group float-right list-group float-right col-6 paddin-reset-right"
            >
              <li style="border-top: none;" class="list-group-item">
                <input type="checkbox" />Medos e Fobias
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Transtorno Alimentar
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Autoestima e Insegurança
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Luto e Perdas
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Dependências
              </li>
              <li class="list-group-item"><input type="checkbox" />Outros</li>
            </ul>
          </div> -->
        </div>
        <div id="tab-3" class="tab-content col-12 padding-reset">
          <!--  <div class="d-flex justify-content-start margin-top-form">
            <ul
              class="list-group float-left list-group float-right col-12 paddin-reset-right"
            >
              <li style="border-top: none;" class="list-group-item">
                <input type="checkbox" />
                Domingo
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Segunda-Feira
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Terça-Feira
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Quarta-Feira
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Quinta-Feira
              </li>
              <li class="list-group-item">
                <input type="checkbox" />Sexta-Feira
              </li>
              <li class="list-group-item"><input type="checkbox" />Sábado</li>
            </ul>
          </div> -->
        </div>
      </div>
      <!-- container -->
    </div>
  </div>
  <div class="row float-left actions-psicologos">
    <div class="container ">
      <div class="col-sm actions-default padding-reset">
        <button
          style="background: #00A7C2!important; width: 116px;"
          (click)="putPaciente()"
        >
          Salvar
        </button>
        <button
          style="background: #E24A4A!important; margin-left: 1em; width: 116px;"
          [routerLink]="['/logada/pacientes']"
        >
          Banir
        </button>
        <button
          style="background:#A2A3A4!important; margin-left: 1em; width: 116px;"
          [routerLink]="['/logada/pacientes']"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
