<div class="container-fluid">
  <div class="row padding-reset">
    <div class="col-0 padding-reset">
      <div class="toggled animated bounceInLeft" id="sidebar-wrapper">
        <nav class="nav flex-column">
          <a
            class="nav-link hamburger d-flex justify-content-center"
            id="menu-toggle"
          >
            <img
              class="mx-auto d-block"
              src="../assets/img/ico-ham.png"
              alt=""
            />
          </a>
          <a
            routerLink="psicologos"
            class="nav-link"
            routerLinkActive="active-item-menu"
            href="#"
            >Psicólogos <img class="img-fluid" src="../assets/img/psi.png"
          /></a>
          <a
            routerLinkActive="active-item-menu"
            routerLink="pacientes"
            class="nav-link"
            href="#"
            >Pacientes <img class="img-fluid" src="../assets/img/customers.png"
          /></a>
          <a
            routerLinkActive="active-item-menu"
            routerLink="relatorios"
            class="nav-link"
            href="#"
            >Relátorios <img class="img-fluid" src="../assets/img/copy.png"
          /></a>
          <a
            (click)="logout()"
            routerLinkActilogove="active-item-menu"
            routerLink="/"
            class="nav-link"
            href="#"
            >Sair <img class="img-fluid" src="../assets/img/logout.png"
          /></a>
        </nav>
      </div>
    </div>
    <div class="col-12 padding-reset" id="main">
      <div class="container-fluid padding-reset">
        <div class="animated bounceInLeft col-12 padding-reset side-bar-perso">
          <img
            routerLink="psicologos"
            class="img-fluid img-side logo-header"
            src="../assets/img/logo.png.png"
          />
        </div>
        <div class="row padding-reset padding-default-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
